body{
    background-color: brown !important;
}

legend , .myNotesTitle{
    margin-top: 5% ;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2.5rem !important;
    color: #ffffff;
}

#noteContent{
    width: 100%;
    margin: 15px 0;
}

.btn {
    background-color: #ffffff !important;
    color: brown !important;
    padding: 15px !important;
}

ul li {
    margin-right: 15px;
    background-color: #ffffff;
    padding: 15px;
}

ul li a{
    color: brown !important;
    text-decoration: none;
    list-style: none;
}

a.navbar-brand{
    margin-left: 2%;
    background-color: #ffffff;
    color: brown !important;
    padding: 10px;
}

table tr, th, td {
    color: #ffffff;
}

table th {
    font-size: 1.5rem;
}

form input[type="text"], textarea {
    background-color: #ffffff;
    color: brown;
    border: 1px solid #ffffff;

}

::placeholder {
    color:black;
    text-align: center;
}


hr {
    border: 10px solid #ffffff;
    border-radius: 5px;
  }